#about-div .item {
    color: rgba(0,0,0,.87);
}

#about-div .item:hover {
    text-decoration: underline;
}

.stock-amount {
    color: rgba(0,0,0,.87);
}

.item-grid .column .card {
    min-height: 360px;
}

.item-grid .card button {
    margin-top: 6px;
}
